.calculator-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.calculator-input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.button-container{
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin: 8px;
  font-size: 24;
  padding: 30px;
}