header{
    background-color: rgb(188, 186, 186);
}

header nav{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px 0;
}

a{
    text-decoration: none;
    color: black;
}

main{
    margin-bottom: 100px;
    margin-top: 20px;
}

footer{
    background-color: rgb(142, 136, 136);
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}