*{
    padding: 0;
    margin: 0;
}

.logo{
    width: 100px;
}

.btn-outline-success{
    --bs-btn-bg: black;
}

.carousel{
    width: 80vw;
    margin: auto;
    margin-bottom: 40px;
}

.carousel-inner{
    border-radius: 20px;
    box-shadow: 10px 10px 10px #3f3838;
}

.carousel-control-prev-icon , .carousel-control-next-icon{
    background-color: black;
}

.carousel-caption{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar, .navbar-brand, .nav-link{
    color: rgb(31, 25, 25);
    /* --bs-navbar-color: orange; */
}

.container-xl{
    flex-wrap: wrap;
    row-gap: 25px;
}
