.characterContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.characterCard{
    border: solid black;
    padding: 10px;
    width: 33%;
    text-align: center;
    background-color: rgb(107, 144, 219);
}

.characterCard img{
    width: 50%;
}