/* Regla lo mas general posible */
*{
    padding: 0;
    margin: 0;
}

body{
    line-height: 1.6;
    background: #a3a3c7;
    background: -webkit-linear-gradient(90deg, rgba(163, 163, 199, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(163, 163, 199, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(163, 163, 199, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#A3A3C7", endColorstr="#FFFFFF", GradientType=1);
    /* background-image: url(assets/img/taco.jpg); */
}

header{
    background-color: #227570;
    color: white;
    padding: 16px 0;
}

header h1{
    font-size: 50px;
    text-align: center;
}

.web-title{
    color: chocolate;
}

ul li img{
    width: 18px;
}

.index header nav ul {
    display: flex;
    justify-content: center;
}

.index header nav ul li{
    margin: 0 16px;
    /* Para sacar los puntos de la lista */
    list-style: none;
}

.index header nav ul li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-decoration: none;
    padding: 7px;
}

.index header nav ul li a:hover{
    background-color: white;
    color: #333;
    border-radius: 10px;
}

.index section{
    padding: 20px 0;
}

.index section h2, section p, section ul{
    text-align: center;
    color: #333
}

#about{
    background: rgba(238, 174, 202, 0.04);
    background: radial-gradient(circle, rgba(238, 174, 202, 0.5) 0%, rgba(148, 187, 233, 1) 100%);
}

.services-img{
    width: 80%;
    height: 50vh;
    margin: 20px 10%;
    /* Borde necesita tipo de borde, color y grosor */
    border: solid black 3px;
    box-shadow: 50px 36px 5px brown;
}

.services-img:hover{
    border: solid red 3px;
}

.index p.texto{
    column-count: 3;
    column-gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form button{
    padding: 7px;
    margin: 10px;
    border-radius: 13px;
}

.enviar, .borrar{
    color: whitesmoke;
}

.enviar{
    background-color: green;
}

.borrar{
    background-color: red;
}

footer{
    background-color: #333;
    color: wheat;
    text-align: center;
    padding: 5px 0;
    width: 100%;
}