header{
    background-color: rgb(188, 186, 186);
    padding: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}

main{
    margin-bottom: 100px;
    margin-top: 20px;
}

footer{
    background-color: rgb(142, 136, 136);
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}